.articleContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 2rem;
}

.page {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2rem;
}

.article {
  margin: 1rem;
  width: 300px;
  border: 1px #351f1f solid;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  /* cursor: pointer; */
}

.list-title {
  text-align: center;
  padding: 1rem;
}
.wishOne {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
}
.wish-title {
  font-weight: bold;
  color: blue;
}
